{% extends 'base.html' %}

{% block content %}
    <h1>Create Product</h1>
    <form method="POST" action="{{ url_for('create_product') }}">
        <div>
            <label>Name:</label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label>Manufacture Date:</label>
            <input type="date" name="manufacture_date" required>
        </div>
        <div>
            <label>Expiry Date:</label>
            <input type="date" name="expiry_date" required>
        </div>
        <div>
            <label>Rate:</label>
            <input type="number" name="rate" step="0.01" required>
        </div>
        <div>
            <label>Unit:</label>
            <select name="unit" required>
                <option value="kg">/kg</option>
                <option value="g">/g</option>
                <option value="litre">/litre</option>
                <option value="ml">/ml</option>
                <option value="piece">/piece</option>
            </select>
        </div>
        <div>
            <label>Available_stock:</label>
            <input type="number" name="available_stock" required>
        </div>
        <div>
            <label>Section:</label>
            <select id="section" name="section" required>
                {% for section in sections %}
                    <option value="{{ section.id }}">{{ section.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Create</button>
    </form>
{% endblock %}
