{% extends 'base.html' %}

{% block content %}
    
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    

    <h2>Categories</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
                <tr>
                    <td style="color: black; font-weight: bold;">{{ section.name }}</td>
                    <td>
                        <a href="{{ url_for('products', section_id=section.id) }}" class="btn btn-info">View Products</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
